.scrollable-y {
  overflow-y: auto;
}

.bg-light-kominfo {
  background-color: rgba(0, 69, 142, 0.1);
}

.bg-kominfo {
  background-color: rgba(0, 69, 142, 0.8);
  color: #f8f9fa !important;
}

.btn-kominfo {
  background-color: rgba(0, 69, 142, 0.8);
  color: #ffffff !important;
}

.btn-kominfo:hover {
  background-color: rgba(0, 69, 142, 1);
  color: #ffffff !important;
}
.btn-kominfo:focus {
  background-color: rgba(0, 69, 142, 1);
  color: #ffffff !important;
}
