.scrollable-y {
  overflow-y: auto;
}

.bg-light-kominfo {
  background-color: rgba(0, 69, 142, 0.1);
}

.bg-kominfo {
  background-color: rgba(0, 69, 142, 0.8);
  color: #f8f9fa !important;
}

.btn-kominfo {
  background-color: rgba(0, 69, 142, 0.8);
  color: #ffffff !important;
}

.btn-kominfo:hover {
  background-color: rgba(0, 69, 142, 1);
  color: #ffffff !important;
}

.btn-kominfo:focus {
  background-color: rgba(0, 69, 142, 1);
  color: #ffffff !important;
  box-shadow: 0 0 0 0.25rem rgba(0, 69, 142, 0.5);
  border: none;
}

.nav-link {
  color: rgba(0, 69, 142, 1);
}

.active > .page-link {
  background-color: rgba(0, 69, 142, 0.8);
  border-color: rgba(0, 69, 142, 1);
}

.page-link {
  color: rgba(0, 69, 142, 1);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-select:focus,
.uneditable-input:focus {
  border-color: rgba(0, 69, 142, 0.8);
  box-shadow: 0 0 0 0.25rem rgba(0, 69, 142, 0.5);
  outline: 0 none;
}

.notiflix-confirm-buttons > a {
  text-decoration: none !important;
}
